.radio-buttons_24-983 {
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  background: #ffffff;
}
.text-classifica--o-de-risco_24-1066 {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  color: #000000;
  font-weight: 700;
  text-align: left;
  text-wrap: wrap;
  width: 192px;
  height: 22px;
}

.fields_29-626 {
  top: 28px;
  left: 0px;
  position: absolute;
  display: flex;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 32px;
  box-sizing: border-box;
  width: 392px;
  height: 44px;
}
.field_29-627 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 8px;
  box-sizing: border-box;
  width: -webkit-fill-available;
}
.text-field-label_29-628 {
  color: #242426;
  font-size: 14px;
  font-family: Poppins;
  line-height: 20px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  text-wrap: wrap;
  width: -webkit-fill-available;
}

.select_29-629 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 0px;
  box-sizing: border-box;
  width: -webkit-fill-available;
}
.contents_29-630 {
  padding: 8px 0px 8px 16px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 16px;
  box-sizing: border-box;
  width: -webkit-fill-available;
}
.text-field-text_29-631 {
  color: #242426;
  font-size: 18px;
  font-family: Roboto;
  line-height: 28px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  text-wrap: wrap;
  width: -webkit-fill-available;
}

.icon_29-632 {
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
}
.vector_29-633 {
  top: 10px;
  left: 7px;
  position: absolute;
  display: flex;
  display: flex;
}

.line_29-634 {
  display: flex;
}

.field_29-635 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 8px;
  box-sizing: border-box;
  width: -webkit-fill-available;
}
.text-field-label_29-636 {
  color: #242426;
  font-size: 14px;
  font-family: Poppins;
  line-height: 20px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  text-wrap: wrap;
  width: -webkit-fill-available;
}

.select_29-637 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 0px;
  box-sizing: border-box;
  width: -webkit-fill-available;
}
.contents_29-638 {
  padding: 8px 0px 8px 16px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 16px;
  box-sizing: border-box;
  width: -webkit-fill-available;
}
.text-field-text_29-639 {
  color: #242426;
  font-size: 18px;
  font-family: Roboto;
  line-height: 28px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  text-wrap: wrap;
  width: -webkit-fill-available;
}

.icon_29-640 {
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
}
.vector_29-641 {
  top: 10px;
  left: 7px;
  position: absolute;
  display: flex;
  display: flex;
}

.line_29-642 {
  display: flex;
}
