.broswer_11-327 {
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
}
.shape_11-328 {
  top: 1px;
  left: 0px;
  position: absolute;
  display: flex;
  display: flex;
}
.path_11-329 {
  display: flex;
}

.path_11-330 {
  display: flex;
}

.frame-3_11-332 {
  top: -40px;
  left: -41px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  width: 100px;
  height: 100px;
}
