.login_75-1395 {
  position: relative;
  box-sizing: border-box;
  width: 1280px;
  height: 800px;
}
.step-6_75-1396 {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  width: 1280px;
  height: 800px;
}
.desktop---registration_75-1397 {
  padding: 43px 456px 61px 456px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: center;
  gap: 149px;
  box-sizing: border-box;
  overflow: hidden;
  background: #ffffff;
  width: 1280px;
  height: 800px;
}

.x-77e8114476e6ba4e1a4c6e341255a2f2-0-1_75-1398 {
  display: flex;
}

.frame-3_75-1399 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  gap: 48px;
  box-sizing: border-box;
  width: 405px;
}
.logo_75-1400 {
  padding: 16px 0px 0px 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  gap: 13px;
  box-sizing: border-box;
  background: #ffffff00;
  width: 217px;
  height: 112px;
}
.logo_75-1401 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  gap: 13px;
  box-sizing: border-box;
  background: #ffffff;
}
.logo_75-1402 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  gap: 13px;
  box-sizing: border-box;
  background: #ffffff;
}
.logo_75-1403 {
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  gap: 10px;
  box-sizing: border-box;
  display: flex;
}

.text-label_75-1406 {
  color: #f5f6f8;
  font-size: 16px;
  font-family: Kanit;
  line-height: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  text-align: center;
  width: 217px;
  height: 18px;
}

.contents_75-1407 {
  padding: 8px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 80px;
  box-sizing: border-box;
  background: #ffffff;
  height: 614px;
  width: -webkit-fill-available;
}
.step-1_75-1408 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 32px;
  box-sizing: border-box;
  width: -webkit-fill-available;
}
.title_75-1409 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 16px;
  box-sizing: border-box;
  height: 36px;
  width: -webkit-fill-available;
}
.text-large-title_75-1410 {
  color: #e8ecf8;
  font-size: 32px;
  font-family: Poppins;
  line-height: 36px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 700;
  text-align: left;
  text-wrap: nowrap;
}

.space_75-1411 {
  padding: 32px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 32px;
  box-sizing: border-box;
  border-radius: 8px;
  background: #faf9f900;
  width: -webkit-fill-available;
}
.space_75-1412 {
  padding: 32px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 32px;
  box-sizing: border-box;
  border-radius: 8px;
  border-color: #3a3731;
  border-style: solid;
  border-width: 1px;
  background: #ffffff;
  width: -webkit-fill-available;
}
.field_75-1413 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 8px;
  box-sizing: border-box;
  width: -webkit-fill-available;
}
.text-field-label_75-1414 {
  color: #242426;
  font-size: 14px;
  font-family: Poppins;
  line-height: 20px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  text-wrap: wrap;
  width: -webkit-fill-available;
}

.input_75-1415 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 0px;
  box-sizing: border-box;
  width: -webkit-fill-available;
}
.contents_75-1416 {
  padding: 8px 16px 8px 16px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 16px;
  box-sizing: border-box;
  width: -webkit-fill-available;
}
.text-field-text_75-1417 {
  color: #242426;
  font-size: 18px;
  font-family: Roboto;
  line-height: 28px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  text-wrap: wrap;
  width: -webkit-fill-available;
}

.line_75-1418 {
  display: flex;
}

.field_75-1419 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 8px;
  box-sizing: border-box;
  width: -webkit-fill-available;
}
.text-field-label_75-1420 {
  color: #242426;
  font-size: 14px;
  font-family: Poppins;
  line-height: 20px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  text-wrap: wrap;
  width: -webkit-fill-available;
}

.input_75-1421 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 0px;
  box-sizing: border-box;
  width: -webkit-fill-available;
}
.contents_75-1422 {
  padding: 8px 0px 8px 16px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 16px;
  box-sizing: border-box;
  width: -webkit-fill-available;
}
.password-hide_75-1423 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: center;
  gap: 8px;
  box-sizing: border-box;
  background: #ffffff;
  height: 28px;
  width: -webkit-fill-available;
}
.ellipse_75-1424 {
  display: flex;
}

.ellipse_75-1425 {
  display: flex;
}

.ellipse_75-1426 {
  display: flex;
}

.ellipse_75-1427 {
  display: flex;
}

.ellipse_75-1428 {
  display: flex;
}

.ellipse_75-1429 {
  display: flex;
}

.ellipse_75-1430 {
  display: flex;
}

.icon_75-1431 {
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
}
.vector_75-1432 {
  top: 5px;
  left: 1px;
  position: absolute;
  display: flex;
  display: flex;
}

.line_75-1433 {
  display: flex;
}

.caption_75-1434 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: center;
  gap: 4px;
  box-sizing: border-box;
  background: #ffffff;
  width: -webkit-fill-available;
}
.icon_75-1435 {
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
}
.vector_75-1436 {
  top: 4px;
  left: 3px;
  position: absolute;
  display: flex;
  display: flex;
}

.text-caption-text_75-1437 {
  color: #34c759;
  font-size: 12px;
  font-family: Poppins;
  line-height: 16px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  width: 232px;
  height: 20px;
}

.frame-1_75-1438 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  gap: 16px;
  box-sizing: border-box;
  height: 58px;
  width: -webkit-fill-available;
}
.primary-button_75-1439 {
  padding: 0px 32px 0px 32px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  gap: 8px;
  box-sizing: border-box;
  border-radius: 4px;
  border-color: #818181;
  border-style: solid;
  border-width: 1px;
  background: #262f68;
  height: 48px;
}
.text-label_75-1440 {
  color: #ffffff;
  font-size: 16px;
  font-family: Poppins;
  line-height: 24px;
  letter-spacing: 0%;
  text-transform: capitalize;
  text-decoration: none;
  font-weight: 500;
  text-align: center;
  text-wrap: nowrap;
}

.secondary-button_75-1441 {
  padding: 0px 24px 0px 24px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  gap: 8px;
  box-sizing: border-box;
  border-radius: 4px;
  border-color: #3a3731;
  border-style: solid;
  border-width: 1px;
  background: #ffffff;
  height: 48px;
}
.text-label_75-1442 {
  color: #242731;
  font-size: 16px;
  font-family: Poppins;
  line-height: 24px;
  letter-spacing: 0%;
  text-transform: capitalize;
  text-decoration: none;
  font-weight: 500;
  text-align: center;
  text-wrap: nowrap;
}
