.x-4-tabs_11-335 {
  padding: 27px 21px 27px 21px;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  gap: 0px;
  box-sizing: border-box;
  overflow: hidden;
  background: #ffffff;
}
.x-1-tab_11-369 {
  width: 105px;
  height: 60px;
}
.ignore-me-also_11-370 {
  position: relative;
  width: 90px;
  height: 48px;
}

.stroke_11-371 {
  width: 89px;
  height: 48px;
}
.rectangle_11-372 {
  display: flex;
}

.ignore-me-also_11-373 {
  position: relative;
  width: 90px;
  height: 48px;
}

.text-evento_11-374 {
  color: #000000;
  font-weight: 400;
  text-align: center;
  text-wrap: wrap;
  width: 105px;
  height: 23px;
}

.dynamic-corners_11-375 {
  width: 16px;
  height: 60px;
}
.bg_11-376 {
  width: 15px;
  height: 60px;
}
.rectangle_11-377 {
  display: flex;
}

.bg_11-378 {
  position: relative;
  width: 419px;
  height: 48px;
}

.stroke_11-379 {
  width: 16px;
  height: 60px;
}
.rectangle_11-380 {
  display: flex;
}

.ignore-me-also_11-381 {
  position: relative;
  width: 68px;
  height: 48px;
}

.x-3-tab--active-_11-408 {
  width: 105px;
  height: 48px;
}
.ignore-me-also_11-409 {
  position: relative;
  width: 105px;
  height: 48px;
}

.text-evento_11-410 {
  color: #000000;
  font-weight: 400;
  text-align: center;
  width: 105px;
  height: 23px;
}

.x-2-tab_11-362 {
  width: 105px;
  height: 48px;
}
.ignore-me-also_11-363 {
  position: relative;
  width: 105px;
  height: 48px;
}

.ignore-me-also_11-364 {
  position: relative;
  width: 105px;
  height: 48px;
}

.text-local_11-365 {
  color: #000000;
  font-weight: 400;
  text-align: center;
  width: 105px;
  height: 23px;
}

.x-2-tab_11-420 {
  width: 105px;
  height: 48px;
}
.ignore-me-also_11-421 {
  position: relative;
  width: 105px;
  height: 48px;
}

.ignore-me-also_11-422 {
  position: relative;
  width: 105px;
  height: 48px;
}

.text-risco_11-423 {
  color: #000000;
  font-weight: 400;
  text-align: center;
  width: 105px;
  height: 23px;
}

.x-4-tab_11-336 {
  width: 105px;
  height: 60px;
}
.dynamic-corners_11-337 {
  width: 16px;
  height: 60px;
}
.bg_11-338 {
  width: 15px;
  height: 60px;
}
.rectangle_11-339 {
  display: flex;
}

.bg_11-340 {
  position: relative;
  width: 419px;
  height: 48px;
}

.stroke_11-341 {
  width: 16px;
  height: 60px;
}
.rectangle_11-342 {
  display: flex;
}

.ignore-me-also_11-343 {
  position: relative;
  width: 68px;
  height: 48px;
}

.ignore-me-also_11-344 {
  position: relative;
  width: 90px;
  height: 48px;
}

.stroke_11-345 {
  width: 90px;
  height: 48px;
}
.rectangle_11-346 {
  display: flex;
}

.ignore-me-also_11-347 {
  position: relative;
  width: 90px;
  height: 48px;
}

.text-evid-ncias_11-348 {
  color: #000000;
  font-weight: 400;
  text-align: center;
  width: 105px;
  height: 23px;
}
