.frame-17_75-1591 {
  position: relative;
  box-sizing: border-box;
  width: 1280px;
  height: 800px;
}
.step-10_75-1592 {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  width: 1280px;
  height: 800px;
}
.desktop---registration_75-1593 {
  padding: 24px 456px 61px 456px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: center;
  gap: 4px;
  box-sizing: border-box;
  overflow: hidden;
  background: #ffffff;
  width: 1280px;
  height: 800px;
}
.contents_75-1599 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 24px;
  box-sizing: border-box;
  width: 456px;
  height: 679px;
}
.logo_75-1594 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  gap: 13px;
  box-sizing: border-box;
  background: #ffffff;
  height: 69px;
  width: -webkit-fill-available;
}
.logo_75-1595 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  gap: 13px;
  box-sizing: border-box;
  background: #ffffff;
}
.logo_75-1596 {
  position: relative;
  box-sizing: border-box;
  width: 80px;
  height: 80px;
  box-shadow: 0px 4px 4px 0px #0000003f;
}
.kymera-international-logo-1_75-1597 {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  display: flex;
}

.text-label_75-1598 {
  color: #242731;
  font-size: 16px;
  font-family: Kanit;
  line-height: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  text-align: left;
  text-wrap: nowrap;
}

.group-2_75-1600 {
  width: 456px;
  height: 566px;
}
.contents_75-1601 {
  padding: 8px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 8px;
  box-sizing: border-box;
  width: 456px;
  height: 566px;
}
.progress-bar_75-1602 {
  position: relative;
  box-sizing: border-box;
  height: 63px;
  width: -webkit-fill-available;
}
.x-4-tabs_75-1603 {
  top: -2px;
  left: -4px;
  position: absolute;
  display: flex;
  height: 69px;
}

.x-3-tab--active-_75-1604 {
  top: 7px;
  left: 332px;
  position: absolute;
  display: flex;
  width: 105px;
  height: 48px;
}
.ignore-me-also_75-1605 {
  position: relative;
  width: 105px;
  height: 48px;
}

.text-evid-ncias_75-1606 {
  color: #000000;
  font-weight: 400;
  text-align: center;
  width: 105px;
  height: 23px;
}

.step-2_75-1607 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 8px;
  box-sizing: border-box;
  width: 456px;
  height: 100%;
}
.title_75-1608 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 16px;
  box-sizing: border-box;
  width: -webkit-fill-available;
}
.text-large-title_75-1609 {
  color: #242731;
  font-size: 30px;
  font-family: Poppins;
  line-height: 36px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 700;
  text-align: center;
  text-wrap: wrap;
  width: -webkit-fill-available;
}

.space_75-1610 {
  padding: 16px 32px 65px 32px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 21px;
  box-sizing: border-box;
  border-radius: 8px;
  border-color: #818181;
  border-style: solid;
  border-width: 1px;
  height: 443px;
  width: -webkit-fill-available;
}
.upload-file_75-1611 {
  position: relative;
  width: 392px;
  height: 92px;
}

.step-1_75-1616 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 32px;
  box-sizing: border-box;
  width: 456px;
  height: 312px;
}
.space_75-1617 {
  padding: 24px 32px 32px 32px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 8px;
  box-sizing: border-box;
  border-radius: 8px;
  border-color: #818181;
  border-style: solid;
  border-width: 1px;
  height: 312px;
  width: -webkit-fill-available;
}
.subhead_75-1618 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 2px;
  box-sizing: border-box;
  width: -webkit-fill-available;
}
.text-evid-ncia-01_75-1619 {
  color: #242731;
  font-size: 20px;
  font-family: Poppins;
  line-height: 28px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 600;
  text-align: left;
  text-wrap: wrap;
  width: -webkit-fill-available;
}

.field_75-1620 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 8px;
  box-sizing: border-box;
  width: -webkit-fill-available;
}
.text-field-label_75-1621 {
  color: #242426;
  font-size: 14px;
  font-family: Poppins;
  line-height: 20px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  text-wrap: wrap;
  width: -webkit-fill-available;
}

.input_75-1622 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 0px;
  box-sizing: border-box;
  width: -webkit-fill-available;
}
.contents_75-1623 {
  padding: 8px 16px 8px 16px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 16px;
  box-sizing: border-box;
  width: -webkit-fill-available;
}
.text-field-text_75-1624 {
  color: #242426;
  font-size: 18px;
  font-family: Roboto;
  line-height: 28px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  text-wrap: wrap;
  width: -webkit-fill-available;
}

.line_75-1625 {
  display: flex;
}

.field_75-1626 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 8px;
  box-sizing: border-box;
  width: -webkit-fill-available;
}
.text-field-label_75-1627 {
  color: #242426;
  font-size: 14px;
  font-family: Poppins;
  line-height: 20px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  text-wrap: wrap;
  width: -webkit-fill-available;
}

.input_75-1628 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 0px;
  box-sizing: border-box;
  width: -webkit-fill-available;
}
.contents_75-1629 {
  padding: 8px 16px 8px 16px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 16px;
  box-sizing: border-box;
  width: -webkit-fill-available;
}
.text-field-text_75-1630 {
  color: #242426;
  font-size: 18px;
  font-family: Roboto;
  line-height: 28px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  text-wrap: wrap;
  width: -webkit-fill-available;
}

.line_75-1631 {
  display: flex;
}

.fields_75-1632 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 32px;
  box-sizing: border-box;
  width: -webkit-fill-available;
}
.field_75-1633 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 8px;
  box-sizing: border-box;
  width: -webkit-fill-available;
}
.text-field-label_75-1634 {
  color: #242426;
  font-size: 14px;
  font-family: Poppins;
  line-height: 20px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  text-wrap: wrap;
  width: -webkit-fill-available;
}

.select_75-1635 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 0px;
  box-sizing: border-box;
  width: -webkit-fill-available;
}
.contents_75-1636 {
  padding: 8px 0px 8px 16px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 16px;
  box-sizing: border-box;
  width: -webkit-fill-available;
}
.text-field-text_75-1637 {
  color: #242426;
  font-size: 18px;
  font-family: Roboto;
  line-height: 28px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  text-wrap: wrap;
  width: -webkit-fill-available;
}

.icon_75-1638 {
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
}
.vector_75-1639 {
  top: 10px;
  left: 7px;
  position: absolute;
  display: flex;
  display: flex;
}

.line_75-1640 {
  display: flex;
}

.secondary-button_75-1612 {
  padding: 0px 24px 0px 32px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  gap: 8px;
  box-sizing: border-box;
  border-radius: 4px;
  border-color: #3a3731;
  border-style: solid;
  border-width: 1px;
  background: #262f68;
  height: 48px;
  width: -webkit-fill-available;
}
.text-label_75-1613 {
  color: #ffffff;
  font-size: 16px;
  font-family: Poppins;
  line-height: 24px;
  letter-spacing: 0%;
  text-transform: capitalize;
  text-decoration: none;
  font-weight: 500;
  text-align: center;
  text-wrap: nowrap;
}

.icon_75-1614 {
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
}
.vector_75-1615 {
  top: 8px;
  left: 6px;
  position: absolute;
  display: flex;
  display: flex;
}
