.frame-15_75-1443 {
  position: relative;
  box-sizing: border-box;
  width: 1280px;
  height: 800px;
}
.step-8_75-1444 {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  width: 1280px;
  height: 800px;
}
.desktop---registration_75-1445 {
  padding: 8px 456px 61px 456px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: center;
  gap: 8px;
  box-sizing: border-box;
  overflow: hidden;
  background: #ffffff;
  width: 1280px;
  height: 800px;
}
.contents_75-1450 {
  padding: 8px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  gap: 16px;
  box-sizing: border-box;
  width: 456px;
  height: 750px;
}
.logo_102-1074 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  gap: 13px;
  box-sizing: border-box;
  background: #ffffff;
  height: 93px;
  width: -webkit-fill-available;
}
.logo_102-1075 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  gap: 13px;
  box-sizing: border-box;
  background: #ffffff;
  height: 100%;
}
.logo_102-1076 {
  position: relative;
  box-sizing: border-box;
  width: 80px;
  height: 80px;
  box-shadow: 0px 4px 4px 0px #0000003f;
}
.kymera-international-logo-1_102-1077 {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  display: flex;
}

.text-label_102-1078 {
  color: #242731;
  font-size: 16px;
  font-family: Kanit;
  line-height: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  text-align: center;
  width: 217px;
  height: 18px;
}

.progress-bar_92-2404 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  gap: 8px;
  box-sizing: border-box;
  height: 65px;
  width: -webkit-fill-available;
}
.x-4-tabs_92-2405 {
  height: 60px;
}

.group-2_75-1451 {
  width: 456px;
  height: 565px;
}
.contents_75-1452 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 8px;
  box-sizing: border-box;
  width: 456px;
  height: 565px;
}
.step-2_75-1458 {
  padding: 16px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 0px;
  box-sizing: border-box;
  width: 456px;
  height: 100%;
}
.title_75-1459 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 16px;
  box-sizing: border-box;
  width: -webkit-fill-available;
}
.text-large-title_75-1460 {
  color: #242731;
  font-size: 30px;
  font-family: Poppins;
  line-height: 36px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 700;
  text-align: center;
  text-wrap: wrap;
  width: -webkit-fill-available;
}

.space_75-1461 {
  padding: 16px 32px 56px 32px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 16px;
  box-sizing: border-box;
  border-radius: 8px;
  border-color: #818181;
  border-style: solid;
  border-width: 1px;
  height: 476px;
  width: -webkit-fill-available;
}
.contacts_75-1462 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 16px;
  box-sizing: border-box;
  width: -webkit-fill-available;
}
.subhead_75-1463 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 2px;
  box-sizing: border-box;
  width: -webkit-fill-available;
}
.text-departamento_75-1464 {
  color: #242731;
  font-size: 18px;
  font-family: Poppins;
  line-height: 24px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 600;
  text-align: left;
  text-wrap: wrap;
  width: -webkit-fill-available;
}

.input_75-1465 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 0px;
  box-sizing: border-box;
  width: -webkit-fill-available;
}
.contents_75-1466 {
  padding: 8px 0px 8px 0px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 16px;
  box-sizing: border-box;
  width: -webkit-fill-available;
}
.text-field-text_75-1467 {
  color: #242426;
  font-size: 18px;
  font-family: Roboto;
  line-height: 28px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  text-wrap: wrap;
  width: -webkit-fill-available;
}

.icon_75-1468 {
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
}
.vector_75-1469 {
  top: 10px;
  left: 7px;
  position: absolute;
  display: flex;
  display: flex;
}

.line_75-1470 {
  display: flex;
}

.contacts_75-1471 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 16px;
  box-sizing: border-box;
  width: -webkit-fill-available;
}
.subhead_75-1472 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 2px;
  box-sizing: border-box;
  width: -webkit-fill-available;
}
.text-setor_75-1473 {
  color: #242731;
  font-size: 18px;
  font-family: Poppins;
  line-height: 24px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 600;
  text-align: left;
  text-wrap: wrap;
  width: -webkit-fill-available;
}

.input_75-1474 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 0px;
  box-sizing: border-box;
  width: -webkit-fill-available;
}
.contents_75-1475 {
  padding: 8px 0px 8px 0px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 16px;
  box-sizing: border-box;
  width: -webkit-fill-available;
}
.text-field-text_75-1476 {
  color: #242426;
  font-size: 18px;
  font-family: Roboto;
  line-height: 28px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  text-wrap: wrap;
  width: -webkit-fill-available;
}

.icon_75-1477 {
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
}
.vector_75-1478 {
  top: 10px;
  left: 7px;
  position: absolute;
  display: flex;
  display: flex;
}

.line_75-1479 {
  display: flex;
}

.contacts_75-1480 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 16px;
  box-sizing: border-box;
  width: -webkit-fill-available;
}
.subhead_75-1481 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 2px;
  box-sizing: border-box;
  width: -webkit-fill-available;
}
.text-respons-vel-do-local_75-1482 {
  color: #242731;
  font-size: 18px;
  font-family: Poppins;
  line-height: 24px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 600;
  text-align: left;
  text-wrap: wrap;
  width: -webkit-fill-available;
}

.input_75-1483 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 0px;
  box-sizing: border-box;
  width: -webkit-fill-available;
}
.contents_75-1484 {
  padding: 8px 0px 8px 0px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 16px;
  box-sizing: border-box;
  width: -webkit-fill-available;
}
.text-field-text_75-1485 {
  color: #242426;
  font-size: 18px;
  font-family: Roboto;
  line-height: 28px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  text-wrap: wrap;
  width: -webkit-fill-available;
}

.line_75-1486 {
  display: flex;
}

.contacts_75-1487 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 16px;
  box-sizing: border-box;
  width: -webkit-fill-available;
}
.subhead_75-1488 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 150px;
  box-sizing: border-box;
  width: -webkit-fill-available;
}
.text-workstation_75-1489 {
  color: #242731;
  font-size: 18px;
  font-family: Poppins;
  line-height: 24px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 600;
  text-align: left;
  text-wrap: nowrap;
}

.switcher_75-1490 {
  width: 32px;
  height: 16px;
}
.off_75-1491 {
  width: 32px;
  height: 16px;
}
.ignore-me-also_75-1492 {
  position: relative;
  width: 32px;
  height: 16px;
}

.ellipse_75-1493 {
  display: flex;
}

.on_75-1494 {
  width: 32px;
  height: 16px;
}
.ignore-me-also_75-1495 {
  position: relative;
  width: 32px;
  height: 16px;
}

.ignore-me-also_75-1496 {
  position: relative;
  width: 32px;
  height: 16px;
}

.ellipse_75-1497 {
  display: flex;
}

.input_75-1498 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 0px;
  box-sizing: border-box;
  width: -webkit-fill-available;
}
.contents_75-1499 {
  padding: 8px 0px 8px 0px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 16px;
  box-sizing: border-box;
}

.line_75-1500 {
  display: flex;
}

.secondary-button_75-1501 {
  padding: 0px 24px 0px 32px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  gap: 8px;
  box-sizing: border-box;
  border-radius: 4px;
  border-color: #bbbfc1;
  border-style: solid;
  border-width: 1px;
  background: #262f68;
  height: 48px;
  width: -webkit-fill-available;
}
.text-label_75-1502 {
  color: #ffffff;
  font-size: 16px;
  font-family: Poppins;
  line-height: 24px;
  letter-spacing: 0%;
  text-transform: capitalize;
  text-decoration: none;
  font-weight: 500;
  text-align: center;
  text-wrap: nowrap;
}

.icon_75-1503 {
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
}
.vector_75-1504 {
  top: 8px;
  left: 6px;
  position: absolute;
  display: flex;
  display: flex;
}

.group-4_75-1505 {
  width: 156px;
  height: 101px;
}
.group-4_115-1126 {
  width: 156px;
  height: 101px;
}
.side-toolbar_115-1127 {
  position: relative;
  width: 156px;
  height: 101px;
}

.x--_115-1128 {
  width: 40px;
  height: 40px;
}
.ignore-me-also_115-1129 {
  position: relative;
  width: 40px;
  height: 40px;
}

.ignore-me-also_115-1130 {
  position: relative;
  width: 2px;
  height: 18px;
}

.ignore-me-also_115-1131 {
  position: relative;
  width: 2px;
  height: 18px;
}
