.frame-18_75-1647 {
  position: relative;
  box-sizing: border-box;
  width: 1280px;
  height: 800px;
}
.step-7_75-1648 {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  width: 1280px;
  height: 800px;
}
.desktop---registration_75-1649 {
  padding: 16px 456px 61px 456px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: center;
  gap: 8px;
  box-sizing: border-box;
  overflow: hidden;
  background: #ffffff;
  width: 1280px;
  height: 800px;
}
.contents_75-1655 {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 16px;
  box-sizing: border-box;
  background: #ffffff;
  height: 154px;
}
.logo_75-1651 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  gap: 13px;
  box-sizing: border-box;
  background: #ffffff;
  height: 80px;
  width: -webkit-fill-available;
}
.logo_75-1652 {
  position: relative;
  box-sizing: border-box;
  width: 80px;
  height: 80px;
  box-shadow: 0px 4px 4px 0px #0000003f;
}
.kymera-international-logo-1_75-1653 {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  display: flex;
}

.text-label_75-1654 {
  color: #242731;
  font-size: 16px;
  font-family: Kanit;
  line-height: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  text-align: center;
  width: 217px;
  height: 18px;
}

.progress-bar_75-1656 {
  padding: 8px 0px 8px 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  gap: 24px;
  box-sizing: border-box;
  width: 456px;
  height: 69px;
}
.x-4-tabs_75-1657 {
  height: 55px;
}

.step-2_75-1658 {
  padding: 8px 0px 0px 0px;
  top: 166px;
  left: 0px;
  position: absolute;
  display: flex;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 16px;
  box-sizing: border-box;
  width: 456px;
  height: 514px;
  box-shadow: 0px 4px 4px 0px #0000003f;
}
.title_75-1659 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 16px;
  box-sizing: border-box;
  width: -webkit-fill-available;
}
.text-large-title_75-1660 {
  color: #242731;
  font-size: 30px;
  font-family: Poppins;
  line-height: 36px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 700;
  text-align: center;
  text-wrap: wrap;
  width: -webkit-fill-available;
}

.space_75-1661 {
  padding: 16px 32px 0px 32px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 8px;
  box-sizing: border-box;
  border-radius: 8px;
  border-color: #818181;
  border-style: solid;
  border-width: 1px;
  height: 464px;
  width: -webkit-fill-available;
}
.contacts_75-1662 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 8px;
  box-sizing: border-box;
  width: 392px;
}
.subhead_75-1663 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 2px;
  box-sizing: border-box;
  width: -webkit-fill-available;
}
.text-t-tulo_75-1664 {
  color: #242731;
  font-size: 18px;
  font-family: Poppins;
  line-height: 24px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 600;
  text-align: left;
  text-wrap: wrap;
  width: -webkit-fill-available;
}

.input_75-1665 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 0px;
  box-sizing: border-box;
  width: -webkit-fill-available;
}
.contents_75-1666 {
  padding: 8px 0px 8px 0px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 16px;
  box-sizing: border-box;
  width: -webkit-fill-available;
}
.text-field-text_75-1667 {
  color: #242426;
  font-size: 18px;
  font-family: Roboto;
  line-height: 28px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  text-wrap: wrap;
  width: -webkit-fill-available;
}

.line_75-1668 {
  display: flex;
}

.contacts_75-1669 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 8px;
  box-sizing: border-box;
  width: 392px;
}
.subhead_75-1670 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 2px;
  box-sizing: border-box;
  width: -webkit-fill-available;
}
.text-tipo-de-evento_75-1671 {
  color: #242731;
  font-size: 18px;
  font-family: Poppins;
  line-height: 24px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 600;
  text-align: left;
  text-wrap: wrap;
  width: -webkit-fill-available;
}

.input_75-1672 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 0px;
  box-sizing: border-box;
  width: -webkit-fill-available;
}
.contents_75-1673 {
  padding: 8px 0px 8px 0px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 16px;
  box-sizing: border-box;
  width: -webkit-fill-available;
}
.text-field-text_75-1674 {
  color: #242426;
  font-size: 18px;
  font-family: Roboto;
  line-height: 28px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  text-wrap: wrap;
  width: -webkit-fill-available;
}

.icon_75-1675 {
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
}
.vector_75-1676 {
  top: 10px;
  left: 7px;
  position: absolute;
  display: flex;
  display: flex;
}

.line_75-1677 {
  display: flex;
}

.contacts_75-1678 {
  top: 194px;
  left: 32px;
  position: absolute;
  display: flex;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 8px;
  box-sizing: border-box;
  width: 392px;
  height: 84px;
}
.subhead_75-1679 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 2px;
  box-sizing: border-box;
  width: -webkit-fill-available;
}
.text-descri--o-da-atividade_75-1680 {
  color: #242731;
  font-size: 18px;
  font-family: Poppins;
  line-height: 24px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 600;
  text-align: left;
  text-wrap: wrap;
  width: -webkit-fill-available;
}

.input_75-1681 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 0px;
  box-sizing: border-box;
  width: -webkit-fill-available;
}
.contents_75-1682 {
  padding: 8px 0px 8px 0px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 16px;
  box-sizing: border-box;
  width: -webkit-fill-available;
}
.text-field-text_75-1683 {
  color: #242426;
  font-size: 18px;
  font-family: Roboto;
  line-height: 28px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  text-wrap: wrap;
  width: -webkit-fill-available;
}

.line_75-1684 {
  display: flex;
}

.contacts_75-1685 {
  top: 278px;
  left: 32px;
  position: absolute;
  display: flex;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 8px;
  box-sizing: border-box;
  width: 392px;
  height: 76px;
}
.subhead_75-1686 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 150px;
  box-sizing: border-box;
  width: -webkit-fill-available;
}
.text-possui-art-_75-1687 {
  color: #242731;
  font-size: 18px;
  font-family: Poppins;
  line-height: 24px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 600;
  text-align: left;
  text-wrap: nowrap;
}

.switcher_75-1688 {
  width: 32px;
  height: 16px;
}
.off_75-1689 {
  width: 32px;
  height: 16px;
}
.ignore-me-also_75-1690 {
  position: relative;
  width: 32px;
  height: 16px;
}

.ellipse_75-1691 {
  display: flex;
}

.on_75-1692 {
  width: 32px;
  height: 16px;
}
.ignore-me-also_75-1693 {
  position: relative;
  width: 32px;
  height: 16px;
}

.ignore-me-also_75-1694 {
  position: relative;
  width: 32px;
  height: 16px;
}

.ellipse_75-1695 {
  display: flex;
}

.input_75-1696 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 0px;
  box-sizing: border-box;
  width: -webkit-fill-available;
}
.contents_75-1697 {
  padding: 8px 0px 8px 0px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 16px;
  box-sizing: border-box;
}
.text-field-text_75-1698 {
  color: #242426;
  font-size: 18px;
  font-family: Roboto;
  line-height: 28px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  text-wrap: wrap;
  width: 352px;
}

.line_75-1699 {
  display: flex;
}

.frame-19_75-2081 {
  top: 372px;
  left: 32px;
  position: absolute;
  display: flex;
  position: relative;
  box-sizing: border-box;
  width: 392px;
  height: 56px;
}
.frame-2_75-1700 {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 21px;
  box-sizing: border-box;
  width: 392px;
}
.contacts_75-1701 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 16px;
  box-sizing: border-box;
  width: 223px;
  height: 100%;
}
.subhead_75-1702 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 2px;
  box-sizing: border-box;
  width: -webkit-fill-available;
}
.text-respons-vel_75-1703 {
  color: #242731;
  font-size: 18px;
  font-family: Poppins;
  line-height: 24px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 600;
  text-align: left;
  text-wrap: wrap;
  width: -webkit-fill-available;
}

.input_75-1704 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 0px;
  box-sizing: border-box;
  height: 14px;
  width: -webkit-fill-available;
}
.contents_75-1705 {
  padding: 8px 0px 8px 0px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 8px;
  box-sizing: border-box;
  width: -webkit-fill-available;
  height: 100%;
}

.line_75-1706 {
  display: flex;
}

.contacts_75-1707 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 0px;
  box-sizing: border-box;
  width: 148px;
  height: 100%;
}
.subhead_75-1708 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 2px;
  box-sizing: border-box;
  width: 148px;
}
.text-data-prevista_75-1709 {
  color: #242731;
  font-size: 18px;
  font-family: Poppins;
  line-height: 24px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 600;
  text-align: left;
  text-wrap: wrap;
  width: -webkit-fill-available;
}

.input_75-1710 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 0px;
  box-sizing: border-box;
  width: -webkit-fill-available;
  height: 100%;
}
.contents_75-1711 {
  padding: 8px 0px 8px 0px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex-wrap: nowrap;
  align-items: center;
  gap: 16px;
  box-sizing: border-box;
  width: -webkit-fill-available;
}
.broswer_75-1712 {
  position: relative;
  width: 16px;
  height: 16px;
}

.line_75-1713 {
  display: flex;
}

.secondary-button_75-1714 {
  padding: 0px 24px 0px 32px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  gap: 8px;
  box-sizing: border-box;
  border-radius: 4px;
  border-color: #bbbfc1;
  border-style: solid;
  border-width: 1px;
  background: #262f68;
  height: 48px;
  width: -webkit-fill-available;
}
.text-label_75-1715 {
  color: #ffffff;
  font-size: 16px;
  font-family: Poppins;
  line-height: 24px;
  letter-spacing: 0%;
  text-transform: capitalize;
  text-decoration: none;
  font-weight: 500;
  text-align: center;
  text-wrap: nowrap;
}

.icon_75-1716 {
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
}
.vector_75-1717 {
  top: 8px;
  left: 6px;
  position: absolute;
  display: flex;
  display: flex;
}

.group-4_115-1140 {
  width: 156px;
  height: 101px;
}
.side-toolbar_115-1141 {
  position: relative;
  width: 156px;
  height: 101px;
}

.x--_115-1142 {
  width: 40px;
  height: 40px;
}
.ignore-me-also_115-1143 {
  position: relative;
  width: 40px;
  height: 40px;
}

.ignore-me-also_115-1144 {
  position: relative;
  width: 2px;
  height: 18px;
}

.ignore-me-also_115-1145 {
  position: relative;
  width: 2px;
  height: 18px;
}
