.frame-16_75-1511 {
  position: relative;
  box-sizing: border-box;
  width: 1280px;
  height: 800px;
}
.step-9_75-1512 {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  width: 1280px;
  height: 800px;
}
.desktop---registration_75-1513 {
  padding: 24px 456px 61px 456px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: center;
  gap: 0px;
  box-sizing: border-box;
  overflow: hidden;
  background: #ffffff;
  width: 1280px;
  height: 800px;
}
.contents_75-1519 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 0px;
  box-sizing: border-box;
  width: 456px;
  height: 833px;
}
.logo_75-1514 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  gap: 13px;
  box-sizing: border-box;
  background: #ffffff;
  width: -webkit-fill-available;
  height: 100%;
}
.logo_75-1515 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  gap: 13px;
  box-sizing: border-box;
  background: #ffffff;
}
.logo_75-1516 {
  position: relative;
  box-sizing: border-box;
  width: 80px;
  height: 80px;
  box-shadow: 0px 4px 4px 0px #0000003f;
}
.kymera-international-logo-1_75-1517 {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  display: flex;
}

.text-label_75-1518 {
  color: #242731;
  font-size: 16px;
  font-family: Kanit;
  line-height: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  text-align: center;
  text-wrap: wrap;
  width: 217px;
}

.group-2_75-1520 {
  width: 456px;
  height: 765px;
}
.contents_75-1521 {
  padding: 8px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 8px;
  box-sizing: border-box;
  width: 456px;
  height: 765px;
}
.progress-bar_75-1522 {
  position: relative;
  box-sizing: border-box;
  height: 74px;
  width: -webkit-fill-available;
}
.x-4-tabs_75-1523 {
  top: 9px;
  left: -7px;
  position: absolute;
  display: flex;
  height: 70px;
}

.x-3-tab--active-_75-1524 {
  top: 20px;
  left: 224px;
  position: absolute;
  display: flex;
  width: 105px;
  height: 48px;
}
.ignore-me-also_75-1525 {
  position: relative;
  width: 105px;
  height: 48px;
}

.text-risco_75-1526 {
  color: #000000;
  font-weight: 400;
  text-align: center;
  width: 105px;
  height: 23px;
}

.step-2_75-1527 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 8px;
  box-sizing: border-box;
  width: 456px;
  height: 100%;
}
.title_75-1528 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 16px;
  box-sizing: border-box;
  width: -webkit-fill-available;
}
.text-large-title_75-1529 {
  color: #242731;
  font-size: 30px;
  font-family: Poppins;
  line-height: 36px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 700;
  text-align: center;
  text-wrap: wrap;
  width: -webkit-fill-available;
}

.space_75-1530 {
  padding: 24px 32px 36px 32px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 8px;
  box-sizing: border-box;
  border-radius: 8px;
  border-color: #818181;
  border-style: solid;
  border-width: 1px;
  height: 512px;
  width: -webkit-fill-available;
}
.contacts_75-1531 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 8px;
  box-sizing: border-box;
  width: -webkit-fill-available;
}
.subhead_75-1532 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 2px;
  box-sizing: border-box;
  width: -webkit-fill-available;
}
.text-tipo-de-risco_75-1533 {
  color: #242731;
  font-size: 18px;
  font-family: Poppins;
  line-height: 24px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 600;
  text-align: left;
  text-wrap: wrap;
  width: -webkit-fill-available;
}

.input_75-1534 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 0px;
  box-sizing: border-box;
  width: -webkit-fill-available;
}
.contents_75-1535 {
  padding: 8px 0px 8px 0px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 16px;
  box-sizing: border-box;
  width: -webkit-fill-available;
}
.text-field-text_75-1536 {
  color: #242426;
  font-size: 18px;
  font-family: Roboto;
  line-height: 28px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  text-wrap: wrap;
  width: -webkit-fill-available;
}

.icon_75-1537 {
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
}
.vector_75-1538 {
  top: 10px;
  left: 7px;
  position: absolute;
  display: flex;
  display: flex;
}

.line_75-1539 {
  display: flex;
}

.contacts_75-1540 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 8px;
  box-sizing: border-box;
  height: 76px;
  width: -webkit-fill-available;
}
.subhead_75-1541 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 2px;
  box-sizing: border-box;
  width: -webkit-fill-available;
}
.text-categoria_75-1542 {
  color: #242731;
  font-size: 18px;
  font-family: Poppins;
  line-height: 24px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 600;
  text-align: left;
  text-wrap: wrap;
  width: -webkit-fill-available;
}

.input_75-1543 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 0px;
  box-sizing: border-box;
  height: 36px;
  width: -webkit-fill-available;
}
.contents_75-1544 {
  padding: 8px 0px 8px 0px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 16px;
  box-sizing: border-box;
  width: -webkit-fill-available;
}
.text-field-text_75-1545 {
  color: #242426;
  font-size: 18px;
  font-family: Roboto;
  line-height: 28px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  text-wrap: wrap;
  width: -webkit-fill-available;
}

.icon_75-1546 {
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
}
.vector_75-1547 {
  top: 10px;
  left: 7px;
  position: absolute;
  display: flex;
  display: flex;
}

.line_75-1548 {
  display: flex;
}

.radio-buttons_75-1549 {
  position: relative;
  width: 385px;
  height: 100px;
}

.contacts_75-1550 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 8px;
  box-sizing: border-box;
  height: 76px;
  width: -webkit-fill-available;
}
.subhead_75-1551 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 2px;
  box-sizing: border-box;
  width: -webkit-fill-available;
}
.text-impacto-estimado_75-1552 {
  color: #242731;
  font-size: 18px;
  font-family: Poppins;
  line-height: 24px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 600;
  text-align: left;
  text-wrap: wrap;
  width: -webkit-fill-available;
}

.input_75-1553 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 0px;
  box-sizing: border-box;
  width: -webkit-fill-available;
}
.contents_75-1554 {
  padding: 8px 0px 8px 0px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 16px;
  box-sizing: border-box;
  width: -webkit-fill-available;
}
.text-field-text_75-1555 {
  color: #242426;
  font-size: 18px;
  font-family: Roboto;
  line-height: 28px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  text-wrap: wrap;
  width: -webkit-fill-available;
}

.icon_75-1556 {
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
}
.vector_75-1557 {
  top: 10px;
  left: 7px;
  position: absolute;
  display: flex;
  display: flex;
}

.line_75-1558 {
  display: flex;
}

.contacts_75-1559 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 16px;
  box-sizing: border-box;
  height: 112px;
  width: -webkit-fill-available;
}
.subhead_75-1560 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 2px;
  box-sizing: border-box;
  width: -webkit-fill-available;
}
.text-gest-o-de-risco_75-1561 {
  color: #242731;
  font-size: 18px;
  font-family: Poppins;
  line-height: 24px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 600;
  text-align: left;
  text-wrap: wrap;
  width: -webkit-fill-available;
}

.input_75-1562 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 0px;
  box-sizing: border-box;
  width: -webkit-fill-available;
}
.line_75-1563 {
  display: flex;
}

.fields_75-1564 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 32px;
  box-sizing: border-box;
  width: -webkit-fill-available;
}
.field_75-1565 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 8px;
  box-sizing: border-box;
  width: -webkit-fill-available;
}
.text-field-label_75-1566 {
  color: #242426;
  font-size: 14px;
  font-family: Poppins;
  line-height: 20px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  text-wrap: wrap;
  width: -webkit-fill-available;
}

.select_75-1567 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 0px;
  box-sizing: border-box;
  width: -webkit-fill-available;
}
.contents_75-1568 {
  padding: 8px 0px 8px 16px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 16px;
  box-sizing: border-box;
  width: -webkit-fill-available;
}
.text-field-text_75-1569 {
  color: #242426;
  font-size: 18px;
  font-family: Roboto;
  line-height: 28px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  text-wrap: wrap;
  width: -webkit-fill-available;
}

.icon_75-1570 {
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
}
.vector_75-1571 {
  top: 10px;
  left: 7px;
  position: absolute;
  display: flex;
  display: flex;
}

.line_75-1572 {
  display: flex;
}

.field_75-1573 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 8px;
  box-sizing: border-box;
  width: -webkit-fill-available;
}
.text-field-label_75-1574 {
  color: #242426;
  font-size: 14px;
  font-family: Poppins;
  line-height: 20px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  text-wrap: wrap;
  width: -webkit-fill-available;
}

.select_75-1575 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 0px;
  box-sizing: border-box;
  width: -webkit-fill-available;
}
.contents_75-1576 {
  padding: 8px 0px 8px 16px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 16px;
  box-sizing: border-box;
  width: -webkit-fill-available;
}
.text-field-text_75-1577 {
  color: #242426;
  font-size: 18px;
  font-family: Roboto;
  line-height: 28px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  text-wrap: wrap;
  width: -webkit-fill-available;
}

.icon_75-1578 {
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
}
.vector_75-1579 {
  top: 10px;
  left: 7px;
  position: absolute;
  display: flex;
  display: flex;
}

.line_75-1580 {
  display: flex;
}

.secondary-button_75-1581 {
  padding: 0px 24px 0px 32px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  gap: 8px;
  box-sizing: border-box;
  border-radius: 4px;
  border-color: #bbbfc1;
  border-style: solid;
  border-width: 1px;
  background: #262f68;
  height: 48px;
  width: -webkit-fill-available;
}
.text-label_75-1582 {
  color: #ffffff;
  font-size: 16px;
  font-family: Poppins;
  line-height: 24px;
  letter-spacing: 0%;
  text-transform: capitalize;
  text-decoration: none;
  font-weight: 500;
  text-align: center;
  text-wrap: nowrap;
}

.icon_75-1583 {
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
}
.vector_75-1584 {
  top: 8px;
  left: 6px;
  position: absolute;
  display: flex;
  display: flex;
}

.group-4_75-1585 {
  width: 156px;
  height: 101px;
}
.group-4_115-1112 {
  width: 156px;
  height: 101px;
}
.side-toolbar_115-1113 {
  position: relative;
  width: 156px;
  height: 101px;
}

.x--_115-1114 {
  width: 40px;
  height: 40px;
}
.ignore-me-also_115-1115 {
  position: relative;
  width: 40px;
  height: 40px;
}

.ignore-me-also_115-1116 {
  position: relative;
  width: 2px;
  height: 18px;
}

.ignore-me-also_115-1117 {
  position: relative;
  width: 2px;
  height: 18px;
}
